{% extends 'base.html' %}
{% block body %}
<div class="main">
    <div class="generate-controls">
        <form action="/generate" method="post" class="generate-form" onsubmit="noRefresh(e)">
            <input list="topics" name="topic" id="topic" placeholder="Enter Topic Name">
            <datalist id="topics">
                <option value="Engineering Mathematics 1"></option>
                <option value="Engineering Chemistry"></option>
                <option value="Programming for Problem Solving"></option>
                <option value="Professional Communication"></option>
                <option value="Value and Ethics"></option>
                <option value="Constitution of India"></option>
            </datalist>
            <button type="submit">Generate</button>
        </form>
    </div>
    <div class="result">
        {% if result %}
        <center><button onclick="downloadNote()">Download Note</button></center>
        <div class="generated-notes">
            {{result|safe}}
        </div>
        {% else %}
        <center>
            <h1>Your Notes will appear here</h1>
        </center>
        {% endif %}
    </div>
</div>
{% endblock %}